@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000;
    color: #f6f6f6;
}

.titulo-destaque {
    color: #22d4fd;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}
.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: justify;
    
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__links__subtitulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link{
    /* background-color: #22d4fd; */
    border: 2px solid #22d4fd;
    display: flex;
    gap: 16px;
    justify-content: center;
    border-radius: 8px;
    width: 378px;
    text-align: center;
    font-size: 24px;
    /* O primeiro valor [21.5px] é vertical, o segundo [0] é horizontal */
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    
}
.apresentacao__links__link:hover{
    background-color: #272727;
}
